/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #0E4B6E;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Garante que o header fique acima do conteúdo */
    display: flex;
    justify-content: space-between; /* Alinha o conteúdo nas extremidades */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

.header-back {
    color: white; /* Cor do texto branco */
    font-weight: bold; /* Texto em negrito */
    text-decoration: none; /* Remover sublinhado */
    margin-left: 10px; /* Margem à esquerda para separar do canto */
}

.header-title {
    color: white; /* Cor do texto branco */
    font-weight: bold; /* Texto em negrito */
}

/* Página de Login */
.login-container {
    max-width: 400px;
    margin: 100px auto; /* Aumentado para evitar que o header sobreponha o conteúdo */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px #6DC6EB;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0E4B6E;;
    border: none;
    border-radius: 5px;
    color: white; /* Texto branco */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6DC6EB;
}

p {
    text-align: center;
}

a {
    color: #007bff;
}

/* Snackbar de sucesso */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4CAF50; /* Verde para sucesso */
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* Snackbar de erro */
.snackbar.error {
    background-color: #f44336; /* Vermelho para erro */
}

.snackbar.error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Mensagens de erro */
.error-message {
    display: block;
    color: #ff0000; /* Vermelho para mensagem de erro */
    font-size: 12px;
    margin-top: 5px;
}
