body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0E4B6E;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header-back {
    color: white; 
    font-weight: bold; 
    text-decoration: none; 
    margin-left: 10px; 
}

.header-title {
    color: white; 
    font-weight: bold;
}

.login-container {
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px #6DC6EB;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0E4B6E;;
    border: none;
    border-radius: 5px;
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6DC6EB;
}

p {
    text-align: center;
}

a {
    color: #007bff;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4CAF50; 
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

.snackbar.error {
    background-color: #f44336; 
}

.snackbar.error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.error-message {
    display: block;
    color: #ff0000; 
    font-size: 12px;
    margin-top: 5px;
}